@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <!--Welcome Message for the customer--->
        <h1 class="display-4">Welcome to the Bleakwind Buffet!</h1>
        <p class="welcome-message">
            We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger.
            Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!.
        </p>

        <!--Combo Details--->
        <p class="general-text">Any entree, side, and drink can be combined into a Combo with a $1 discount</p>

        <!--List of all soda flavors--->
        <p class="general-text"> Sailor Soda flavors: Blackberry, Cherry, Grapefruit, Lemon, Peach, Watermelon </p>


        <form id="item-database">
            <div id="search">
                <input type="text" name="SearchItem" value="@Model.SearchTerms" />
                <input type="submit" value="Search" />
            </div>
            <div id="filters">
                <h4>Categories</h4>
                @foreach (String type in BleakwindBuffet.Data.Menu.Category)
                {
                    <label>
                        <input type="checkbox" name="Categories" value="@type" />
                        @type
                    </label>
                }
                <h4>Calories</h4>
                <div>
                    <input name="calMin" type="number" min="0" step="1" placeholder="Min" />
                    to
                    <input name="calMax" type="number" min="0" step="1" placeholder="Max" />
                </div>
                <h4>Price</h4>
                <div>
                    $
                    <input name="priceMin" type="number" min="0" step=".01" placeholder="Min" />
                    to $
                    <input name="priceMax" type="number" min="0" step=".01" placeholder="Max" />
                </div>
            </div>

            <div id="results">
                <h1>Search Results</h1>
                <ul class="menu-list">
                    @foreach (BleakwindBuffet.Data.IOrderItem i in @Model.items)
                    {
                        <li>
                            <div class="menu-item">
                                <div class="menu-name">@i.ToString()</div>
                                <div class="menu-price">Price: $@i.Price</div>
                                <div class="menu-cals">Calories: @i.Calories</div>
                                <div class="menu-cals">Description: @i.Description</div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </form>

        

    </div>
